body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#2c3e50,#3468db);
    height: 100vh;
}

.Login-container {
    width: 350px;
    background: #fff;
    padding: 30px;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.Login-container h2 {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border-radius: 5px;
    border:1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #2c3e50;
}

.note {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color:grey;
}